.footer__email {
    border: 1px solid rgba(199, 199, 199, 0.5);
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 140px 11px 20px;
    background-color: #EFEFEF;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: $text-color;
    opacity: 0.7;
    margin-bottom: 82px;
}