.footer__email {
    border: none;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 118px 11px 20px;
    background-color: #EFEFEF;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: $text-color;
    opacity: 0.7;
}