.motivation__text {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 34px;
    line-height: 44px;
    letter-spacing: -0.5px;
    color: $text-color;
    margin: 0;
    padding-right: 155px;
}