.places__wrap {
    width: 460px;
    position: relative;
    overflow: hidden;
}

@media (max-width:320px) {
    .places__wrap {
        width: 284px;
        position: absolute;
        z-index: 0;
    }
}