.places__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    position: relative;
    left: 0;
    transition: all ease 1s;
    max-width: 1320px;
}

@media (max-width:320px) {
    .places__list {
        max-width: 320px;
    }
}