.footer__form-btn {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 28px;
    color: $text-color;
    border: none;
    background-color: transparent;
    padding-right: 22px;
    margin: 0;
}