.places__subtitle {
    color: $text-color_subtitle;
    opacity: 0.7;
    width: 460px;
    padding-bottom: 80px;
    margin: 0;
    @include text-style(normal, normal, 18px, 28px);
}

@media(max-width:320px) {
    .places__subtitle {
        width: 284px;
        padding-bottom: 0px;
        margin: 250px 0 0 0;
        @include text-style(normal, normal, 12px, 18px);
    }
}