.bikes__head-road {
    color: $text-color_subtitle;
    opacity: 0.7;
    margin-top: 70px;
    @include text-style(normal, normal, 18px, 28px);
}

.bikes__head-road:nth-child(2) {
    padding: 0 40px;
}