.motivation__text {
    letter-spacing: -0.5px;
    margin: 0;
    padding-right: 90px;
    max-width: 500px;
    @include text-style(normal, 600, 34px, 44px);
}

@media(max-width:320px) {
    .motivation__text {
        margin: 245px 0 0 0;
        padding: 0px;
        max-width: 284px;
        @include text-style(normal, 600, 23px, 29px);
    }
}