.info__image-wrapper {
    position: absolute;
    height: 439px;
    top: 372px;
    left: -200px;
}

@media (max-width:320px) {
    .info__image-wrapper {
        position: absolute;
        height: 200px;
        top: 152px;
        left: -28px;
    }
}