.info__text-button {
    color: #fff;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    padding: 16px 46px;
    border-radius: 4px;
    background-color: #24B47E;
    border: none;
    margin: 33px 0 153px;
}