.motivation {
    background-image: url(../../image/motivation/motivation-place.png);
    background-repeat: no-repeat;
    background-size: 650px 460px;
    background-position-x: 120px;
    margin: 120px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media(max-width:320px) {
    .motivation {
        background-image: url(../../image/motivation/motivation-place.png);
        background-repeat: no-repeat;
        align-items: flex-start;
        background-size: 284px 204px;
        background-position-x: 0;
        margin: 295px 0 60px 17px;
    }
}