.footer__title {
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    max-width: 229px;
    color: $text-color;
    padding: 62px 0 30px;
}