.bikes__head-name {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 60px;
    letter-spacing: -0.5px;
    color: $text-color;
    padding: 15px 0 83.81px;
    margin: 45.65px 0 35px;
}