@import '../../root/root.scss';
.header__link {
    text-decoration: none;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $text-color;
    padding-right: 34px;
}