.header {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 5;
    max-width: 1440px;
    margin: 74px auto 0;
    background-color: $bgc-color;
}

@media (max-width:320px) {
    .header {
        max-width: 320px;
        margin: 0 auto;
    }
}