.footer__switch-btn::before {
    content: '';
    background-image: url(../../image/footer/footercicrcle.png);
    background-repeat: no-repeat;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 2px;
    left: 2px;
    z-index: 2;
}