.header__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding-top: 5px;
    padding-right: 300px;
    width: 100%;
    background-color: $bgc-color;
    height: 60px;
    justify-content: flex-end;
    align-items: center;
}