.footer {
    margin: 0 auto;
    background-color: $footer_email;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

@media (max-width:320px) {
    .footer {
        max-width: 320px;
        display: none;
    }
}