.motivation__text-name {
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    color: $text-color;
    margin: 0;
    padding: 253px 470px 0 0;
}