.header__nav-menu {
    z-index: 170;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
}

@media (max-width:320px) {
    .header__nav-menu {
        display: none;
    }
}